.destinos {
  padding-top: 50px;
  padding-bottom: 200px;
  background: #13181a;
}
.destinos hr {
  background-color: #E65634;
  width: 300px;
  height: 2px;
}
.destinos h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  color: white;
}
.destinos .destinos-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin-top: 50px;
}
.destinos .destinos-list .toModal {
  color: white;
  font-size: 30px;
  margin-top: 100px;
  cursor: pointer;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 300px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.destinos .destinos-list .toModal:after {
  content: "Lviv";
  position: absolute;
  bottom: -70px;
  left: 0;
}
.destinos .destinos-list #toModalLviv {
  background: url("../images/destin1.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}
.destinos .destinos-list #toModalLviv:after {
  content: "Lviv";
  width: 100%;
}
.destinos .destinos-list #toModalKiev {
  background: url("../images/destin3.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
}
.destinos .destinos-list #toModalKiev:after {
  content: "Kiev";
  width: 100%;
}
.destinos .destinos-list #toModalIvano {
  background: url("../images/destin4.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
}
.destinos .destinos-list #toModalIvano:after {
  content: "Ivano Frankivsk";
  width: 100%;
}
.destinos #myModal {
  display: none;
  background: #16272b;
  color: white;
  margin: auto;
  margin-top: -150px;
}
.destinos #myModal .the-modal-img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.destinos #myModal .the-modal-content {
  -webkit-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}
.destinos #myModal .the-modal-content .close-Modal {
  display: block;
  text-align: right;
  cursor: pointer;
  font-size: 50px;
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}
.destinos #myModal .the-modal-content #the-text #city-description {
  font-size: 20px;
}
.destinos #myModal .the-modal-content #the-text #universities-list {
  text-align: center;
  font-weight: 700;
}
.destinos #myModal .the-modal-content #the-text #universities-list .newLi {
  font-weight: 400;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
}
.destinos #myModal .the-modal-content #the-text #universities-list a {
  color: white;
  background: grey;
  padding: 5px;
  margin-left: 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  cursor: pointer;
}
