.body-gallery .header-g {
  position: fixed;
  background: #13181a;
}
.body-gallery .gallery-content {
  background: #13181a;
  padding-top: 100px;
}
.body-gallery .gallery-content .first-column img {
  margin-top: 15px;
}
.body-gallery .gallery-content .second-column img {
  margin-top: 15px;
}
.body-gallery .gallery-content .third-column img {
  margin-top: 15px;
}
.body-gallery footer {
  background: white;
  color: #13181a;
}
.body-gallery footer .to-top button i {
  color: #13181a;
}
