.information {
  margin-top: 0px;
  background: snow;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
  overflow-y: hidden;
}
.information .why-abroad {
  margin-bottom: 150px;
  position: relative;
}
.information .why-abroad .why-abroad-content {
  background: #515751;
  margin-left: auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
  -webkit-box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.5);
          box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.5);
}
.information .why-abroad .why-abroad-content hr {
  background-color: #E65634;
  width: 500px;
  height: 2px;
}
.information .why-abroad .why-abroad-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  padding-left: 5px;
  letter-spacing: 7px;
}
.information .why-abroad .why-abroad-content p {
  color: #F5F9E9;
  font-size: 18px;
  text-align: center;
}
.information .why-abroad .why-abroad-img {
  width: 400px;
  height: 760px;
  background: url("../images/tram.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 0px;
  position: absolute;
  top: -30px;
  left: -2%;
}
.information .ukraine {
  position: relative;
}
.information .ukraine .ukraine-content {
  background: #515751;
  color: white;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  -webkit-box-shadow: 3px 3px 20px #16272b;
          box-shadow: 3px 3px 20px #16272b;
}
.information .ukraine .ukraine-content hr {
  background-color: #E65634;
  width: 200px;
  height: 2px;
}
.information .ukraine .ukraine-content h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  text-align: center;
  letter-spacing: 7px;
}
.information .ukraine .ukraine-content p {
  color: #F5F9E9;
  font-size: 18px;
  text-align: center;
}
.information .ukraine .ukraine-img {
  width: 400px;
  height: 780px;
  background: url("../images/information/ukraine.jpg") center;
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: -35px;
  right: -2%;
}
@media (min-width: 1320px) {
  .information .why-abroad .why-abroad-img {
    left: 0.5%;
  }
  .information .ukraine .ukraine-img {
    right: .5%;
    top: -45px;
  }
}
