.destinos{
    padding-top: 50px;
    padding-bottom: 70px;
    background: rgb(19, 24, 26);
    position: relative;
    hr{
        background-color: #E65634;
        width: 300px;
        height: 2px;
    }
    h2{
        // font-family: 'SixCaps'; 
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 50px;
        color: white;
        // background: pink;
        // margin-bottom: 50px;
    }
    .destinos-list{
        list-style: none;
        // padding-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: red;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 200px;
        .toModal{
            color: white;
            font-size: 30px;
            margin-top: 100px;
            cursor: pointer;
            // border: 1px solid gold;
            border-radius: 24px;
            text-align: center;
            // width: 200px;
            flex-grow: 1;
            height: 300px;
            // padding-right: 60px;
            // padding-left: 60px;
            // padding-top: 80px;
            // padding-bottom: 80px;
            text-transform: uppercase;
            margin-left: 10px;
            margin-right: 10px;
            position: relative;
            &:after{
                content: "Lviv";
                // background: red;
                position: absolute;
                bottom: -70px;
                left: 0;
            }
        }
        #toModalLviv{
            background: url("../images/destin1.jpg") center;
            background-size: cover;
            position: relative;
            &:after{
                content: "Lviv";
                width: 100%;                
            }
            .the-video{
                background: url("../images/destin1.jpg") center;                                
            }
        }
        #toModalKiev{
            background: url("../images/destin3.jpg") center;
            background-size: cover;
            position: relative;
            &:after{
                content: "Kiev";
                width: 100%;                
            }
            .the-video{
                background: url("../images/destin3.jpg") center;                                
            }
        }
        #toModalIvano{
            background: url("../images/destin4.jpg") center;
            background-size: cover;
            position: relative;
            &:after{
                content: "Ivano Frankivsk";
                width: 100%;
            }
            .the-video{
                background: url("../images/destin4.jpg") center;                                
            }
        }
    }
    .videos-list{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
            .video-lviv{
                background: url("../images/destin1.jpg") center;
            }
            .video-kiev{
                background: url("../images/destin3.jpg") center;
            }
            .video-ivano{
                background: url("../images/destin4.jpg") center;                                                
            }
            .the-video{
                width: 200px;
                height: 200px;
                margin: 0 auto;
                border-radius: 50%;
                text-align: center;
                // padding: 0;
                cursor: default;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    // background: rgba(255, 174, 23, .3);
                    color: rgb(182, 57, 74);                    
                    font-size: 100px;
                    transition: .3s all ease-in-out; 
                    // height: 100%;
                    cursor: pointer;                                           
                    &:hover{
                        color: white;
                        transition: .3s ease-in-out;
                    }
                    &:hover i{
                        background: rgb(182, 57, 74);
                        transition: .3s ease-in-out;                          
                    }
                    i{
                        background: white;
                        border-radius: 100%;
                        line-height: 50px;
                        transition: .3s all ease-in-out;                        
                    }
                }
            }
        }
    }
    #modal-video{
        display: none;
        position: absolute;
        bottom: -60px;
        left: 50%-20px;
        // background: red;
        #toCloseVideo{
            position: absolute;
            color: white;
            font-size: 70px;
            // background: orange;
            line-height: 50px;
            padding: 0 18px 15px;
            border-radius: 50%;
            left: 85%;
            top: -60px;
            &:hover{
                background: red;
                cursor: pointer;

            }
        }
    }
    #myModal{
        display: none;
        background: rgb(22, 39, 43);
        color: white;
        margin: auto;
        // margin-top: -200px;
        position: absolute;
        // top: 1px;
        left: 50%-43px;
        top: 190px;
        .the-modal-img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .in-lviv{
            background-image: url("../images/destiny/lviv.jpg");  
        }
        .in-kiev{
            background-image: url("../images/destiny/kiev.jpg");              
        }
        .in-ivano{
            background-image: url("../images/destiny/ivano2.jpg");              
        }
        .the-modal-content{
            transition: 1s all ease-in-out;         
            .close-Modal{
                // background: red;
                display: block;
                text-align: right;
                cursor: pointer;
                font-size: 50px;
                line-height: 20px;
                padding-bottom: 10px;
                padding-top: 10px;
                transition: 1s all ease-in-out; 
                
            }
            #the-text{
                #city-description{
                    // background: orange;
                    font-size: 20px;
                }
                #universities-list{
                    // background: aqua;
                    text-align: center;
                    font-weight: 700;
                    // display: flex;
                    // padding-left: 0;
                    .newLi{
                        font-weight: 400;
                        text-align: left;
                        padding-top: 10px;
                        padding-bottom: 5px;
                        // display: flex;
                    }
                    a{
                        color: white;
                        background: grey;
                        padding: 5px;
                        margin-left: 20px;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}