.header-g{
    background:transparent;
    height: auto;
    position: absolute;
    z-index: 999;
    .navbar{
        // background: red;
        padding-top: 0px; 
        padding-bottom: 0px;
        button{
            cursor: pointer;
        }
        .navbar-brand{
            display: none;
            img{
                width: 50px;
                // background: pink;
            }
        }
        .navbar-nav{
            // background: orange;
            width: 100%;
            justify-content: space-around;
            align-items: center;         
            .nav-item{
                text-align: center;
                width: 14.28%;
                a{
                    color: white;
                    text-transform: uppercase;
                    font-size: 20px;
                    background: transparent;
                    transition: .5s all ease-in-out;
                    &:hover{
                        color: black;
                        background: white;
                        transition: .5s ease-in-out;
                    }
                }
            }
            .with-img{
                img{
                    width: 100px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    } 
}
@media (max-width: 576px){
    .header-g{
        .navbar{
            .navbar-brand{
                display: block;
            }
            .navbar-toggler{
                border-color: black;
                span{
                    font-weight: 700;
                    font-size: 35px;
                }
            }
            #nav-content{
                background: grey;
                .navbar-nav{
                    // background: orange;
                    background: rgb(19, 24, 26);
                    
                    .nav-item{
                        width: 100%;
                        .nav-link{
                            // color: #E65634;
                            &:active{
                                background: green;
                            }
                        }
                        
                    }
                    .with-img{
                        display: none;
                    }
                }
            }
        }
    }
}