.information{
    margin-top: 0px;
    // background: rgb(19, 24, 26);
    // background: rgb(246, 246, 246);  
    background: snow;  
    // height: 100vh;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 60px;
    overflow-y: hidden;

    .why-abroad{
        // height: 50vh;
        // background: rgba(250, 0, 0, .5);
        // background: yellow;
        margin-bottom: 150px;
        position: relative;
        .why-abroad-content{

            // background: rgb(19, 24, 26);
            // background: rgba(22, 39, 43, .9); 
            // background: #596869;
            // background: #515751;    
            background: rgba(22, 39, 43, 1);                 
            margin-left: auto;
            position: relative;
            padding-top: 50px;
            padding-bottom: 40px;
            // box-shadow: 3px 3px 20px rgba(22, 39, 43, 1);
            box-shadow: 3px 3px 20px rgba(128, 128, 128, .5);            
            // box-shadow: 5px 5px 40px rgb(216, 180 69);  
            hr{
                background-color: #E65634;
                width: 500px;
                height: 2px;
                
            }
                h1{
                    color: #F5F9E9;
                    // font-family: 'SixCaps';
                    text-transform: uppercase;
                    font-size: 30px;
                    text-align: center;                    
                    // border-top: 1px solid red;
                    // background: rgba(216, 180, 69, .2);
                    // margin-left: -50px;
                    padding-left: 5px;
                    // position: absolute;
                    // z-index: 999;
                    // top: -15px;
                    // left: -150px;
                    letter-spacing: 7px;
                    // background: rgba(22, 39, 43, .5);                
                    // text-shadow: 1px 2px grey;
                }          
            p{
                // color: rgb(164, 150, 140);
                // color: rgb(204, 186, 157);
                color: #F5F9E9;
                font-size: 18px;
                text-align: center;
                // font-weight: 200;
            }
        }
        .why-abroad-img{
            width: 100%;
            height: 760px;
            background: url("../images/tram.jpg") center;
            background-size: cover;
            // opacity: .8;
            padding: 0px;
            // padding-right: 50px;
            position: absolute;
            top: -30px;
            left: -2%;
            // z-index: -1;
        }
    }
    .ukraine{
        position: relative;
        // background: red;
        .ukraine-content{
            background: rgba(22, 39, 43, 1); 
            // background: #515751;                                
            // color:rgb(19, 24, 26);
            color: #F5F9E9;
            padding-top: 50px;
            padding-bottom: 40px;
            position: relative;
            box-shadow: 3px 3px 20px rgb(22, 39, 43);
            hr{
                background-color: #E65634;
                width: 200px;
                height: 2px;
            }
            h2{
                text-transform: uppercase;
                font-size: 30px;
                color: white;
                text-align: center;
                // background: rgba(22, 39, 43, .2);
                // text-shadow: 1px 1px 10px rgb(22, 39, 43);  
                letter-spacing: 7px;              
            }
            p{            
                font-size: 18px;
                // font-weight: 200;
                text-align: center;
            }
                        
        }
        .ukraine-img{
            width: 100%;
            height: 780px;
            background: url("../images/information/ukraine.jpg") center;  
            background-size: cover; 
            position: absolute;
            top: -35px;
            right: -2%;         
        }
    }
}  

@media (max-width: 576px){
    .information{
        padding-top: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        overflow-y: visible;
        
        .why-abroad{
            margin-bottom: 0px;
            .why-abroad-content{
                padding-top: 40px;
                box-shadow: none;
                hr{
                    // width: 90%;
                    display: none;
                    
                }
                h1{
                    color: white;
                    font-weight: 700;
                    font-size: 18px;
                    cursor: pointer;
                    border: 3px solid #E65634;
                    box-shadow: 0 5px #666;
                    border-radius: 14px;
                    background: #E65634;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 30px;
                }
                #why-abroad-exp{
                    display: none;
                    color: white;
                }
            }
            .why-abroad-img{
                display: none;
            }
        }
        .ukraine{
            .ukraine-content{
                box-shadow: none;
                hr{
                    display: none;
                }
                h2{
                    color: white;
                    font-weight: 700;
                    font-size: 18px;
                    cursor: pointer;
                    border: 3px solid #E65634;
                    box-shadow: 0 5px #666;
                    border-radius: 14px;
                    background: #E65634;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 30px;
                }
                #ukr-exp{
                    display: none;
                }
            }
            .ukraine-img {
                display: none;
            }
        }
    }
}

@media (min-width: 1320px){
    .information{
        // background: red;
        .why-abroad{
            .why-abroad-content{
                
            }
            .why-abroad-img{
                left: 0%;
            }
        }
        .ukraine{
            .ukraine-img{
                right: .5%;
                top: -45px;
                // height: 550px;
            }
        }
    }
}

