.levels{
    background: url("../images/levels/library.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 200px;
    .levels-list{
        list-style: none;
        padding-left: 30px;
        padding-right: 30px;
        .the-level{
            background: rgba(0, 0, 0, .6);
            // border: 1px solid white;
            // border-radius: 24px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            color: white;
            &:nth-child(even){
                margin-left: 15px;
                .lvl-content{
                    .lvl-description{
                        order: 1;
                    }
                }
            }
            .lvl-content{
                .lvl-description{
                    // background: orange;
                    padding-top: 10px;
                    p{
                        font-size: 18px;
                    }
                }
                .lvl-icon{
                    // background: aqua;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    i{
                        // background: red;
                        font-size: 110px;
                    }
                    p{
                        // background: green;
                    }
                }
            }
        }
        .jr{

        }
        .lic{

        }
        .mst{
            // background: red;
            .lvl-content{
                .lvl-icon{
                    padding-top: 15px;
                }
            }
        }
    }
}